:root{
    --blue:#00C2FF;
  }
  .registration-container{
    width: 100%;
    overflow: hidden;

    /* border: 5px solid red; */
  }
  .registration-img{
        position: relative;
        background: url("../../assets/img/pexels-fauxels-3183153.jpg");
      /* filter: brightness(0.7); */
        height: 280px;
        width: 100%;
        background-position: 0 -100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      /* mix-blend-mode: normal; */
  }
  
  header {
      /* border: 1px solid red; */
      background: transparent;
      z-index: 100;
  }
  
  .registration-front-text{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: right;
      font-size: 1.5em;
      line-height: 1.3;
      color: white;
    }
    .registration-front-text h1{
      font-weight: 300;
      color: white;
      text-shadow: 0 0 10px black;
  }
    /* .business > h1{
      text-align: center;
      padding: 10px;
      margin-bottom: 20px;
      }
      .business  h2{
        color: rgb(90, 90, 90);
          text-align: center;
          margin-bottom: 10px;
      } */

.registration{
    /* border: 1px solid red; */
}
/* form */

.registration-form{
    width: 70%;
    margin: 20px;
    /* padding-bottom: 150px; */
}
/* registration */
.registration-form h1{
margin-left: 100px;
padding: 10px;
}
 .registration-form-card{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 100px; */
}
.registration-form-card .registration-form-form{
    /* border: 1px solid red; */
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    width: 50%;
}

/* registration image */
.registration-form-img{
    padding: 20px;
}
.registration-form-img{
    border-radius: 10px;
}
.registration-form-img img{
    border-radius: 10px;
    width: 100%;
}

.registration-form-form form{
    width: 90%;
}
.registration-form-form form{
    display: flex;
    flex-direction: column;
    position: relative;
}
.registration-form-form form label{
    font-size: 1.7em;
    color: #00c2ff;
    font-weight: 500;
}
.registration-form-form form input,
.registration-form-form form textarea,
.registration-form-form form select{
    font-size: 1.7em;
    width: 70%;
}
.registration-form-form .registration-form-name,
.registration-form-form .registration-form-mail,
.registration-form-form .registration-form-package,
.registration-form-form .registration-form-mobile{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    margin-top: 34px;
}

.registration-form-form .registration-form-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}
.registration-form-password i{
    font-size: 1.5em;
    color: rgb(105, 105, 105);
}
.registration-form-password div{
    width: 70%;
}
.registration-form-password div input{
    width: 95%;
}
.registration-form-name input{
    border: none;
    border-bottom: 3px solid #00c2ff;
    /* width: 80%; */
    /* size: 100px; */
    /* margin-left: 100px; */
    /* z-index: 100; */
    /* float: right; */
    /* margin-right: -1em; */
    outline: none;
    color: rgb(121, 121, 121);
}
.registration-form-mail input{
    border: none;
    border-bottom: 3px solid #00c2ff;
    /* width: 83%; */
    /* size: 100px; */
    /* margin-left: 100px; */
    /* z-index: 100; */
    /* float: right; */
    /* margin-right: -1.5em; */
    outline: none;
    color: rgb(121, 121, 121);
}
.registration-form-password input{
    border: none;
    border-bottom: 3px solid #00c2ff;
    /* width: 83%; */
    /* size: 100px; */
    /* margin-left: 100px; */
    /* z-index: 100; */
    /* float: right; */
    /* margin-right: -1.5em; */
    outline: none;
    color: rgb(121, 121, 121);
}
.registration-form-package select{
    border: none;
    border-bottom: 3px solid #00c2ff;
    /* width: 86%; */
    /* size: 100px; */
    /* margin-left: 100px; */
    /* z-index: 100; */
    /* float: right; */
    /* margin-right: -2em; */
    outline: none;
    color: rgb(121, 121, 121);
}
.registration-form-mobile input{
    border: none;
    border-bottom: 3px solid #00c2ff;
    resize: none;
    outline: none;
    /* height: 150px; */
    color: rgb(121, 121, 121);
}
.registration-form-login {
    margin-top: 40px;
}
.registration-form-login a{
    color: var(--blue);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.registration-form-button{
    position: absolute;
    bottom: 0;
    top: 85%;
    left:57%;
    transform: translate(-50%,-50%);
}
.registration-form-button button{
    outline: none;
    background: #00c2ff;
    border: none;
    padding: 10px 60px;
    color: white;
    border-radius: 50px;
    font-size: 1.7em;
    transition: 0.2s all ease-in;
}
.registration-form-button button:hover{
    background: #37b0d4;
    color: white;
 
}

@media (max-width:480px) {
    .registration-front-text{
        font-size: 1.3em;
    }
    .registration-form-card{
        flex-direction: column-reverse;
        padding-bottom: 100px;
    }
    .registration-form-card .registration-form-form{
        width: 100%;
    }
    .registration-form-form form label{
        font-size: 1.2em;
    }
    .registration-form-form form input, .registration-form-form form textarea, .registration-form-form form select{
        font-size: 1.2em;
    }
    .registration-form-button{
        top: 110%;
        left: 50%;
    }
    .registration-form-button button{
        font-size: 1.2em;
        padding: 10px 30px;
    }
}