:root{
    --blue:#00C2FF;
  }
  .token-container{
    width: 100%;
    overflow: hidden;

    /* border: 5px solid red; */
  }
  .token-img{
        position: relative;
        background: url("../../assets/img/pexels-fauxels-3183153.jpg");
      /* filter: brightness(0.7); */
        height: 280px;
        width: 100%;
        background-position: 0 -100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      /* mix-blend-mode: normal; */
  }
  
  header {
      /* border: 1px solid red; */
      background: transparent;
      z-index: 100;
  }
  
  .token-front-text{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: right;
      font-size: 1.5em;
      line-height: 1.3;
      color: white;
    }
    .token-front-text h1{
      font-weight: 300;
      color: white;
      text-shadow: 0 0 10px black;
  }

.token{
    /* border: 1px solid red; */
}
/* form */

.token-form{
    width: 70%;
    margin: 20px;
    /* padding-bottom: 150px; */
}
/* token */
.token-form h1{
margin-left: 100px;
padding: 10px;
}
 .token-form-card{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 100px; */
}
.token-form-card .token-form-form{
    /* border: 1px solid red; */
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    width: 50%;
}

/* token image */
.token-form-img{
    padding: 20px;
}
.token-form-img{
    border-radius: 10px;
}
.token-form-img img{
    border-radius: 10px;
    width: 100%;
}

.token-form-form form{
    width: 90%;
}
.token-form-form form{
    display: flex;
    flex-direction: column;
    position: relative;
}
.token-form-form form label{
    font-size: 1.7em;
    color: #00c2ff;
    font-weight: 500;
}
.token-form-form form input,
.token-form-form form textarea,
.token-form-form form select{
    font-size: 1.7em;
    width: 70%;
}
.token-form-form .token-form-name,
.token-form-form .token-form-mail,
.token-form-form .token-form-package,
.token-form-form .token-form-mobile{
    display: flex;
    justify-content: space-around;
    /* align-items: flex-end; */
    margin-top: 34px;
}
.token-form-name input{
    border: none;
    border-bottom: 3px solid #00c2ff;
    /* width: 80%; */
    /* size: 100px; */
    /* margin-left: 100px; */
    /* z-index: 100; */
    /* float: right; */
    /* margin-right: -1em; */
    outline: none;
    color: rgb(121, 121, 121);
}
.token-form-mail input{
    border: none;
    border-bottom: 3px solid #00c2ff;
    /* width: 83%; */
    /* size: 100px; */
    /* margin-left: 100px; */
    /* z-index: 100; */
    /* float: right; */
    /* margin-right: -1.5em; */
    outline: none;
    color: rgb(121, 121, 121);
}
.token-form-package select{
    border: none;
    border-bottom: 3px solid #00c2ff;
    /* width: 86%; */
    /* size: 100px; */
    /* margin-left: 100px; */
    /* z-index: 100; */
    /* float: right; */
    /* margin-right: -2em; */
    outline: none;
    color: rgb(121, 121, 121);
}
.token-form-mobile input{
    border: none;
    border-bottom: 3px solid #00c2ff;
    resize: none;
    outline: none;
    /* height: 150px; */
    color: rgb(121, 121, 121);
}
.token-form-button{
    position: absolute;
    bottom: 0;
    top: 85%;
    left:57%;
    transform: translate(-50%,-50%);
}
.token-form-button button{
    outline: none;
    background: #00c2ff;
    border: none;
    padding: 10px 60px;
    color: white;
    border-radius: 50px;
    font-size: 1.7em;
    transition: 0.2s all ease-in;
}
.token-form-button button:hover{
    background: #37b0d4;
    color: white;
 
}

/* token */
@media (max-width:480px){
    .token-img{
        background-size: contain;
        /* background-position-x: -200px; */
    }
    .token-front-text h1{
        font-size: 1.5em;
    }
    .token-front-text{
        top: 69%;
    }
    .token-form-img{
        display: none;
    }
    .token-form-card{
        flex-direction: column;
    }
    .token-form-card .token-form-form{
        width: 100%;
        padding-bottom: 100px;
    }
    .token-form-button{
        top:110%;
        left: 50%;
    }
    .token-form-button button{
        font-size: 1.2em;
        padding: 10px 30px;
    }
    .token-form-form form label{
        font-size: 1.5em;
    }
    .token-form-form form input, .token-form-form form textarea, .token-form-form form select{
        font-size: 1.2em;
    }

}